wheel
numpy
tyro
diffusers
dearpygui
einops
accelerate
gradio
imageio
imageio-ffmpeg
lpips
matplotlib
packaging
Pillow
pygltflib
rembg[gpu,cli]
rich
safetensors
scikit-image
scikit-learn
scipy
spaces
tqdm
transformers
trimesh
kiui >= 0.2.3
xatlas
roma
plyfile
torch == 2.2.0
torchvision == 0.17.0
torchaudio == 2.2.0
xformers
ushlex
